{% extends "core/base.html" %}

{% block title %}Lista de Vacaciones{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Lista de Vacaciones</h1>
  <a href="{% url 'vacaciones_create' %}" class="btn btn-primary mb-3">Crear Vacaciones</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Empleado</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Finalizacion</th>   
        <th>Estado de Solicitud</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for vacacion in vacaciones %}
        <tr>
          <td>{{ vacacion.pk }}</td>
          <td>{{ vacacion.empleado }}</td>
          <td>{{ vacacion.fecha_inicio }}</td>
          <td>{{ vacacion.fecha_finalizacion }}</td>
          <td>{{ vacacion.estado_solicitud }}</td>
          <td>
            <a href="{% url 'vacaciones_edit' vacacion.pk %}" class="btn btn-warning btn-sm">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

